    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: 'arial', roboto, sans-serif;
        box-sizing: border-box;
        overflow-x: hidden;
        /* --primary-color: rgb(35, 212, 195);
        --secondary-color: rgb(44, 106, 187);
        --thirdly-color: rgb(45, 233, 83);
        --fourth-color: rgb(24, 68, 151);
        --fifth-color: rgb(203, 220, 93); */
    }
    
    #like,
    #dislike,
    #share,
    #save,
    #menu {
        overflow: hidden;
    }
    
    html::-webkit-scrollbar {
        width: 1.2vw;
        background: #F9F9F9;
        border-radius: 30px;
    }
    
    html::-webkit-scrollbar-track {
        background: #f0ecec;
        box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3);
    }
    
    html::-webkit-scrollbar-thumb {
        background: rgb(64, 65, 64);
        border-radius: 20px;
        box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
     ::-webkit-scrollbar-corner {
        background: #F9F9F9;
    }
    
    html::-webkit-scrollbar-thumb:hover {
        background: rgb(99, 102, 99);
    }
    /* moz start  */
    
    html::-moz-scrollbar {
        width: 1.2vw;
        background: #F9F9F9;
        border-radius: 30px;
    }
    
    html::-moz-scrollbar-track {
        background: #f0ecec;
        box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3);
    }
    
    html::-moz-scrollbar-thumb {
        background: rgb(64, 65, 64);
        border-radius: 20px;
        box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
     ::-moz-scrollbar-corner {
        background: #F9F9F9;
    }
    
    html::-webkit-scrollbar-thumb:hover {
        background: rgb(99, 102, 99);
    }
    
    .title {
        border-bottom: 1px solid rgb(197, 195, 195);
    }
    /* moz end */
    
    .top {
        flex-direction: column;
        text-align: center;
        z-index: 3;
        padding: 1.1rem 0;
        padding-right: 20px;
    }
    
    #sign-in-btn-img {
        width: 20px;
        background: white;
    }
    
    #check {
        font-size: 1.2rem;
        padding-left: 2rem;
        padding-bottom: .2rem;
        cursor: pointer;
        color: #E3E3E3;
    }
    
    .top-nav {
        position: fixed;
        display: none;
        width: 12vw;
        background-color: #181818;
        padding-bottom: 12rem;
    }
    
    .top-nav li {
        z-index: 1;
        margin: 1% 0;
        padding-top: 3rem;
        /* padding-left: .1rem; */
        list-style: none;
    }
    
    #top-icons {
        padding-top: 1rem;
        font-size: 1rem;
        color: white;
    }
    
    #anchor-tag {
        font-size: .8rem;
        color: rgb(223, 219, 219);
    }
    /* Header start */
    
    #header {
        z-index: 2;
        background: #252525;
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    
    #logo {
        width: 100px;
        padding-top: .5rem;
    }
    
    .logo-anchor {
        margin: 0 1rem;
    }
    
    #search-bar {
        outline: none;
        font-size: 1.1rem;
        margin-top: .5rem;
        padding: 0 10px;
        padding-top: 6px;
        padding-bottom: 3.9px;
        width: 40vw;
        color: #CBCBCB;
        background: #121212;
        border: 1px solid rgb(54, 54, 54);
        box-sizing: border-box;
    }
    
    .searchbar {
        overflow: hidden !important;
    }
    
    #search-bar::-webkit-input-placeholder {
        color: #969494;
    }
    
    #search-bar::-moz-placeholder {
        color: #969494;
    }
    
    #search-bar:-ms-input-placeholder {
        color: #969494;
    }
    
    #search-bar::-ms-input-placeholder {
        color: #969494;
    }
    
    #search-bar::placeholder {
        color: #969494;
    }
    
    #search-icon {
        overflow: hidden;
        position: relative;
        top: 9px;
        left: -.5vw;
        padding: 8px 15px;
        background-color: #363636;
        color: #E3E3E3;
        cursor: pointer;
    }
    
    #vertical-dots-nav {
        position: relative;
        top: 3px;
        margin: 0 1.8rem;
        cursor: pointer;
        color: #E3E3E3;
    }
    
    #square-nav {
        cursor: pointer;
        position: relative;
        top: 3px;
        color: #E3E3E3;
    }
    
    #microphone {
        color: #E3E3E3;
        cursor: pointer;
        font-size: 1.2rem;
        padding-top: .6rem;
        padding-left: .8rem;
    }
    
    .buttonz {
        margin-right: 2rem;
    }
    
    .buttonz .btnz {
        font-size: 1rem;
        padding: 7px 20px;
        margin-top: .3rem;
        margin-right: 1rem;
        border: 2px solid #6bb5f5;
        color: #6bb5f5;
        background: #181818;
        cursor: pointer;
        position: relative;
    }
    
    .active {
        background: #000;
    }
    /* google */
    
    #sign-in-google-container-opacity-low {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        font-family: 'arial', roboto, sans-serif;
        background: rgba(7, 7, 7, 0.2);
    }
    
    #main-sign-in {
        z-index: 3;
        display: none;
        position: absolute;
        background: white;
        border: 1px solid rgb(194, 189, 189);
        border-radius: 8px;
        width: 30rem;
        height: 35rem;
        margin-top: 4rem;
    }
    
    #logo-sign-in {
        text-align: center;
        margin-top: 3rem;
    }
    
    #logo-sign-in img {
        width: 75px;
        height: 24px;
    }
    
    .first-name-container {
        text-align: center;
        margin-top: 2rem;
    }
    
    #password-container {
        display: none;
    }
    
    #submit-btn {
        display: none;
    }
    
    #first-name {
        width: 350px;
        padding: 15px 19px;
        font-size: 1rem;
        border-radius: 8px;
        border: 2px solid #7c7d80;
        margin-bottom: 1rem;
    }
    
    #first-name:focus,
    #first-name:active {
        border: 1px solid #1B66C9;
    }
    
    #forgot {
        margin: 0 4rem;
        color: #1B66C9;
        text-decoration: none;
    }
    
    figcaption h3 {
        color: rgb(39, 38, 38);
        font-weight: 500;
        margin: 1rem 0;
    }
    
    figcaption h5 {
        font-weight: 400;
        font-size: 1.2rem;
        color: rgb(68, 67, 67);
    }
    
    .sign-in-warning {
        height: 30px;
        font-size: .9rem;
        margin-top: 3rem;
        margin-left: 4rem;
        white-space: nowrap;
        color: rgb(211, 210, 211);
        overflow: hidden;
    }
    
    #sign-in-learn-more {
        padding: 1rem 0;
        color: #1B66C9;
    }
    
    #sign-in-privately-message {
        color: rgb(24, 22, 22);
    }
    
    .buttons-container-sign-in {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }
    
    .create-account {
        color: #1B66C9;
        border: none;
        background: none;
        cursor: pointer;
    }
    
    .sign-in-btn {
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background: #1B66C9;
        color: white;
    }
    
    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 20);
    }
    
    #cross {
        float: right;
        font-size: 1.4rem;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }
    /* google */
    /* Header end */
    /* Breadcrumb start */
    
    #breadcrumb {
        position: fixed;
        z-index: 1;
        background: #fff;
        margin: 3rem 5rem;
        width: 1270px;
        border-bottom: 2px solid rgb(224, 224, 230);
        z-index: 1;
    }
    
    #breadcrumb-nav {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        list-style: none;
    }
    
    #breadcrumb-nav li {
        background: rgb(224, 224, 230);
        border: 2px solid transparent;
        margin: 0 10px;
        padding: 5px 15px;
        border-radius: 30px;
    }
    
    #breadcrumb-nav a {
        color: #000;
    }
    /* Breadcrumb end */
    /* Main Start */
    
    .span {
        position: relative;
        float: right;
        color: white;
        background: #000;
        font-weight: bolder;
        font-size: 14px;
    }
    
    #span-3,
    #span-1,
    #span-4,
    #span-8,
    #span-12,
    #span-2,
    #span-6,
    #span-7,
    #span-9,
    #span-10,
    #span-11 {
        margin: -26px 3px;
    }
    
    #span-5 {
        margin: -26px 2px;
    }
    
    .videos {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 290px);
        grid-template-rows: 260px;
        grid-gap: 25px;
        padding: 0 1rem;
        margin: 1rem 0;
        align-content: end;
        place-items: center;
        place-content: end;
    }
    
    .video-thumbnail img {
        width: 180px;
        height: 100px;
    }
    
    .video-container {
        background: #eee;
    }
    
    #main-1 {
        margin-top: 7rem;
    }
    
    .video-bottom {
        float: right;
    }
    
    .video-bottom-right {
        display: flex;
        flex-direction: column;
        /* margin: 8px 12px; */
    }
    
    .video-bottom-right span {
        font-size: 12px;
        color: rgb(75, 72, 72);
        white-space: nowrap;
    }
    
    .channel-name {
        margin-bottom: 3px;
    }
    
    #video-title {
        font-size: 1.2rem;
        margin-bottom: 5px;
        color: black;
    }
    /* Main End */
    /* page-1 css  */
    
    #main {
        background: #F9F9F9;
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
    }
    
    #main-video {
        margin-top: 13px;
        width: 100vw;
        height: 70vh;
        background: #000;
        /* padding: 0 10rem; */
    }
    
    .video-main-title-container {
        overflow: hidden;
        width: 61.7vw;
        height: 365vh;
        margin-top: 1.7rem;
        border-bottom: 2px solid rgb(197, 195, 195);
        /* background: var(--primary-color); */
    }
    
    .video-mini-title-container-left {
        display: flex;
        justify-content: space-between;
        margin: .5rem;
        font-weight: 100;
    }
    
    .video-title {
        font-weight: 510;
        color: rgb(29, 29, 29);
        padding-left: 8px;
    }
    
    .video-views {
        font-size: .8rem;
        color: rgb(88, 86, 86);
    }
    
    #btn-caption {
        font-size: 1rem;
        padding-right: .5rem;
        padding-left: .5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: rgb(94, 92, 92);
    }
    
    #menu {
        color: black;
    }
    
    #videos-right {
        margin-top: 1.7rem;
        margin-left: 2rem;
        width: 350px;
        background: var(--fourth-color);
        display: flex;
        flex-direction: column;
        /* bottom: 365px; */
    }
    
    .videos-right-top {
        display: none;
    }
    
    #article {
        padding: 5px 0;
        display: flex;
        border-bottom: 1px solid rgb(197, 195, 195);
    }
    
    #T-dots {
        padding-left: 35rem;
    }
    
    .article-top {
        padding: 0 0;
    }
    
    .caption {
        display: flex;
        flex-direction: column;
        padding: 0 .5rem;
    }
    
    #caption-middle {
        padding: 8px 0;
        font-size: 12px;
        color: rgb(75, 72, 72);
    }
    
    #views {
        font-size: 12px;
        color: rgb(75, 72, 72);
        white-space: nowrap;
    }
    
    .thumbnail img {
        width: 180px;
        height: 100px;
    }
    
    #cross {
        float: right;
        font-size: 1.4rem;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }
    
    #title {
        color: rgb(34, 33, 33);
    }
    
    #span {
        margin-left: -33px;
        font-size: 12px;
        background-color: black;
        color: white;
    }
    
    .prof-pic img {
        width: 37px;
        margin: 8px 2px;
        border-radius: 50%;
    }
    
    .after-title-main-2nd-box {
        /* padding-bottom: 21rem; */
        overflow: hidden;
        background: var(--fourth-color);
        width: 61.7vw;
        height: 190px;
        /* height: 30vh; */
        border-bottom: 1px solid rgb(197, 195, 195);
        background: var(--fourth-color);
    }
    
    .main-profile-details {
        margin-top: 1.2rem;
        background: var(--fourth-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .profile-pic-and-subs {
        /* padding-bottom: 1rem; */
        width: 140px;
        /* background: rgb(14, 2, 68); */
        display: flex;
        justify-content: space-around;
    }
    
    .prof-details {
        display: flex;
        justify-content: center;
        /* margin: -2.4rem 3.2rem; */
        /* background: rgb(201, 51, 25); */
        flex-direction: column;
    }
    
    #channel-name {
        padding: .1rem 0;
        color: rgb(48, 47, 47);
        font-size: .9rem;
        /* margin: -1rem .1rem; */
    }
    
    #subscribers {
        font-size: .7rem;
        color: rgb(75, 72, 72);
        padding: 4px 0;
    }
    
    .caption {
        display: flex;
        flex-direction: column;
    }
    /* .subscribe-btn { */
    /* float: right; */
    /* padding: 3px 22px; */
    /* } */
    
    .subs {
        cursor: pointer;
        font-size: .9rem;
        /* margin-right: 3rem; */
        padding: 7px 15px;
        background: #CC0000;
        text-transform: uppercase;
        color: white;
        border: 2px solid transparent;
    }
    
    .show-more-btn-description {
        transform: translate(40px, 50px);
    }
    
    .showMore {
        padding-right: .5rem;
        padding-left: .5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: rgb(94, 92, 92);
    }
    
    .after-title-main-3rd-box {
        background: var(--fifth-color);
        width: 61.7vw;
        height: 350vh;
        overflow: hidden;
        border-bottom: 1px solid #000;
    }
    
    .header-comment-section {
        display: flex;
        padding: 1rem 0;
        background-color: var(--thirdly-color);
    }
    
    #sort {
        padding: 0 2rem;
    }
    
    .comment-section-container {
        display: flex;
        background-color: var(--secondary-color);
    }
    
    #comment-section {
        resize: none;
        width: 60vw;
        border: none;
        outline: none;
        background: none;
        margin: 0 1rem;
        border-bottom: 1px solid rgb(197, 195, 195);
        padding-bottom: .4rem;
        font-size: .9rem;
    }
    
    #comment-section:focus,
    #comment-section:active {
        border-bottom: 2px solid black;
    }
    
    .btns-comment {
        /* background: rgb(172, 22, 22); */
        display: flex;
        justify-content: end;
        /* cursor: pointer; */
        display: none;
    }
    
    #comment {
        padding: 8px 20px;
        background: #ECECEC;
        border: none;
        cursor: pointer;
        margin: 0 .7rem;
    }
    
    #cancel {
        border: none;
        background: none;
        padding: 4px 20px;
        cursor: pointer;
    }
    
    .main-comment-area {
        /* border-bottom: 1px solid grey; */
        background-color: var(--secondary-color);
        margin-bottom: .3rem;
    }
    
    #main-comment-area-two {
        display: none;
    }
    
    .public-comment-section-container {
        background-color: var(--fourth-color);
        display: flex;
        border-bottom: 1px solid rgb(10, 126, 158);
        margin-bottom: .6rem;
    }
    
    .main-container-of-replies-to-comment-profiles {
        display: none;
    }
    
    .view-replies-section-comments-profiles {
        display: flex;
        margin: .5rem 0;
        padding-bottom: 1px solid rgb(197, 195, 195);
    }
    
    #public-prof-details {
        display: flex;
        flex-direction: column;
        padding: .5rem .5rem;
    }
    
    #public-section-name-links {
        /* display: inline; */
        /* background-color: blueviolet; */
        color: black;
        font-size: .9rem;
        padding-bottom: .3rem;
    }
    
    #timing-public-section {
        color: rgb(94, 92, 92);
        font-size: .8rem;
        margin: 0 .3rem;
        margin-bottom: .6rem;
    }
    
    #public-comment-section-comments {
        font-size: .8rem;
    }
    
    #view-more-comments {
        display: flex;
        width: 150px;
        font-size: .8rem;
        color: #065FD4;
        outline: none;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    
    .container-like-and-dislike {
        padding: .8rem 0;
    }
    
    #like-comment {
        overflow: hidden;
        margin-top: 1rem;
        font-size: .9rem;
        cursor: pointer;
    }
    
    #dislike-comment {
        cursor: pointer;
    }
    
    #hidden-headings {
        display: flex;
        justify-content: space-between;
    }
    
    #hidden-btn {
        border: none;
        outline: none;
        float: right;
        background: none;
        margin-right: 2rem;
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    #dislike-comment {
        padding: 0 1rem;
        font-size: .9rem;
    }
    
    .public-name-time {
        display: flex;
    }
    
    #reply-btn-comment {
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }
    
    #reply-profile-user {
        margin-bottom: 1rem;
        /* display: none; */
    }
    
    #comment-section-reply {
        resize: none;
        width: 40vw;
        border: none;
        outline: none;
        background: none;
        margin: 0 .6rem;
        border-bottom: 1px solid rgb(197, 195, 195);
        padding-bottom: .4rem;
        font-size: .9rem;
    }
    
    #comment-btn-reply-comment {
        padding: 8px 20px;
        background: #ECECEC;
        border: none;
        cursor: pointer;
        margin: 0 .7rem;
    }
    
    #cancel-btn-reply-comment {
        border: none;
        background: none;
        /* padding: 4px 20px; */
        cursor: pointer;
    }
    
    .btns-comment-reply {
        display: flex;
        justify-content: flex-end;
        display: none;
    }
    
    .upanddown {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }
    
    #downarrow {
        display: none;
    }
    
    #top-comments-heading {
        display: inline;
        background: rgb(28, 28, 28);
        color: white;
        display: none;
    }
    
    #profile-pictures-video {
        display: none;
    }
    
    .hidden-headings {
        display: none;
    }
    
    #hidden-btn {
        display: none;
    }
    
    @media screen and (max-width: 994px) {
        html {
            font-size: 13px;
            /* color: #000; */
            /* bottom: 1px; */
        }
        #search-bar {
            display: none;
        }
        #search-icon {
            background: none;
            /* padding: 0; */
            font-size: 1.5rem;
            top: .5vh;
            left: 0;
            border-left: none;
            outline: none;
        }
        .main-profile-details {
            justify-content: space-around;
        }
        .hidden-headings {
            display: flex;
            justify-content: space-between;
        }
        #microphone {
            padding-bottom: .4rem;
        }
    }
    
    @media screen and (max-width:790px) {
        #top-comments-heading {
            display: inline;
        }
        #like-comment {
            overflow: hidden;
        }
        #main {
            flex-direction: column;
            align-items: center;
        }
        #sort {
            display: none;
        }
        .main-comment-area {
            display: none;
        }
        .header-comment-section {
            background: rgb(239, 238, 239);
            justify-content: space-around;
            cursor: pointer;
        }
        /* .after-title-main-3rd-box {} */
        .video-main-title-container,
        .after-title-main-2nd-box,
        .after-title-main-3rd-box {
            width: 100vw;
        }
        .video-main-title-container {
            border-bottom: hidden;
            height: 190px;
        }
        .main-profile-details {
            justify-content: space-between;
            border-bottom: 1px solid rgb(197, 195, 195);
            border-top: 1px solid rgb(197, 195, 195);
            /* background: rgb(18, 172, 36); */
        }
        .public-comment-section-container {
            /* display: none; */
            border-bottom: hidden;
        }
        #videos-right {
            width: 100vw;
            margin-left: 1.5rem;
            margin-top: .2rem;
            /* background: chartreuse; */
        }
        .videos-right-top {
            display: inline;
        }
        #article {
            /* background: chartreuse; */
            width: 97vw;
        }
        .video-mini-title-container-left {
            flex-direction: column;
            /* align-items: space-between; */
        }
        .video-captions-mini-right-side {
            margin-top: 1rem;
            display: flex;
            justify-content: space-around;
        }
        .show-more-btn-description {
            display: none;
        }
        .after-title-main-2nd-box {
            height: 75px;
            /* background: rgb(187, 167, 153); */
            border-bottom: hidden;
        }
        .title {
            border-bottom: hidden;
        }
        .after-title-main-3rd-box {
            height: 1vh;
            /* background: #1B66C9; */
        }
        .after-title-main-3rd-box {
            height: 80px;
        }
    }
    
    @media screen and (max-width: 500px) {
        html {
            font-size: 10px;
        }
        #article {
            flex-direction: column;
            /* justify-content: center; */
        }
        .thumbnail img {
            /* text-align: center; */
            width: 100%;
            height: 20vh;
        }
        #microphone,
        #square-nav,
        #check {
            display: none;
        }
        .buttonz {
            margin-right: 0;
        }
        .caption {
            font-size: 2rem;
            padding-left: 1.5rem;
            padding-top: .7rem;
        }
        .video-main-title-container {
            height: 160px;
        }
        #caption-middle {
            font-size: 1.2rem;
        }
        #title {
            font-size: 1.8rem;
        }
        #profile-pictures-video {
            display: block;
        }
        #article {
            /* flex-direction: row; */
        }
        .prof-and-caption {
            display: flex;
        }
    }
    
    @media screen and (max-width: 290px) {
        html {
            font-size: 7px;
        }
        #vertical-dots-nav {
            display: none;
        }
        #logo {
            width: 38vw;
        }
        #first-name {
            width: 50vw;
        }
    }